<!DOCTYPE html>
<html>
<head>

<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h2>Login to Your Account</h2>

<form method="POST">

<input type="text" name="username" placeholder="Enter Username" required>

<input type="password" name="password" placeholder="Enter Password" required>

<button type="submit">Login</button>

</form>

<p class="msg">{{message}}</p>

<p class="link">
Don't have an account? 
<a href="/register">Register here</a>
</p>

</div>

</body>
</html>